<div class="page">
    <div class="header">
        <div class="logo">
            <h2 id="logo">Car renting</h2>
        </div>
        <div class="buttons-div">
            <a href="#" class="link-light item" id="sign-up-btn" [routerLink]="['/registration']">Sign up</a>
            <a href="#" class="link-light item" id="login-btn"   [routerLink]="['/login']">Log in</a>
        </div>
    </div>
    <div class="body">
        <div class="body-gap"></div>
        <div class="message">
            <h1>For your best car renting experience!</h1>
        </div>
    </div>
    <div class="footer">
        <div class="big-button" role="button" (click)="continueAsGuest()">
            <i class="fas fa-search fa-2x"></i>
            <h2 style="color:white">See available cars</h2>
        </div>
    </div>
</div>
