<!-- Car details modal-->
<div id="vehicle-details-modal">
    <div class="modal-content">
        <div class="header-modal"><div class="close" (click)="closeCarDetailsModal($event)">+</div></div>
        <div class="img-wrapper">
            <img class="car-galery" src={{selectedVehicle.images[0]}}>
        </div>
        <div class="car-description">
            <span class="row">
                <span class="attribute-key"> Model</span>
                <span class="attribute-value"> {{selectedVehicle.model}}</span>
            </span><hr/>
            <span class="row">
                <span class="attribute-key"> Car Details</span>
                <span class="attribute-value"> {{selectedVehicle.description}}</span>
            </span><hr/>
            <span class="row">
                <span class="attribute-key"> Price per day</span>
                <span class="attribute-value"> {{selectedVehicle.pricePerDay}}</span>
            </span><hr/>
            <span class="row">
                <span class="attribute-key"> Address</span>
                <span class="attribute-value"> {{selectedVehicle.garage.address.streetName}} {{selectedVehicle.garage.address.streetNumber}} </span>
            </span><hr/>
            <div class="btn-rent-wrapper"><button class="btn-rent" (click)="rentCar(selectedVehicle)">Rent</button></div>
        </div>
    </div>
</div>

<!-- Finish popup -->
<div id="finish-popup">
    <div class="modal-content">
        <div class="header-modal"><div class="close" (click)="closeFinishPopup($event)">+</div></div>
        <div class="popup-img-wrapper">
            <img class="car-galery" src="https://vehicle-images-levi9.s3.amazonaws.com/images/map.jpg">
        </div>
        <div class="car-description">
            <h4>Select garage:</h4>
            <select class="select-garage" [(ngModel)]="selectedRenting.vehicle.garage">
                <option *ngFor="let garage of availableGaragesToFinishRent" [ngValue]="garage"> {{garage.address.streetName}} {{garage.address.streetNumber}}</option>
            </select>
        </div>
        <div class="btn-finish-wrapper"><button class="btn-finish" (click)="finishRenting()">Finish</button></div>
    </div>
</div>

<div class="home-page">
    <div class="cover-photo">
        <img class="img" src="https://vehicle-images-levi9.s3.amazonaws.com/images/cover5.jpg" />
    </div>
    <navbar></navbar> 
    <span class="search-and-add-wrap">
        <input id="search-field" type="text" placeholder="Search cars" [(ngModel)]="searchFilter" (keyup.enter)="searchVehicles()" (focusout)="onFocusLost($event)"><br/>
        <button class="add-btn"><i class="fas fa-plus"></i> Add new vehicle</button>
    </span>
    <div class="body">
        <!-- List of available vehicles, if there is no rented vehicle for logged user -->
        <div class="left-side" *ngIf="rentedVehicles.length === 0">
            <div class="search-field-wrapper">
                <div class="title-wrapper">
                    <span class="vl"></span>
                    <h2>Available cars:</h2>
                </div>
            </div>
            <div class="cars-table">
                <div class="vehicle-card" *ngFor="let vehicle of availableVehicles |
                 paginate: { itemsPerPage: 2, currentPage: page, totalItems:totalLength }">
                    <div class="img-div">
                        <a class="link-light item"><img class="img-class" src={{vehicle.images[0]}}/></a>
                    </div>
                    <div class="vehicle-details" (click)="showCarDetailsModal($event, vehicle)">
                        <h2><a class="link-light item"> {{vehicle.model}} </a></h2>
                        <h3><a class="link-light item"> {{vehicle.garage.address.city}} </a></h3>
                        <h3><a class="link-light item"> {{vehicle.garage.address.streetName}} {{vehicle.garage.address.streetNumber}} </a></h3>
                        <div class="btn-wrap"><button class="btn"><i class="fas fa-plus" (click)="showCarDetailsModal($event, vehicle)"></i> &nbsp; Details</button></div>
                    </div>
                </div>
            </div>
            <pagination-controls class="pagination-class" (pageChange)="page = $event"></pagination-controls>
        </div>
        
        <!-- List of rented vehicles, if there is at least one rented vehicle for logged user -->
        <div class="left-side" *ngIf="rentedVehicles.length > 0">
            <div class="search-field-wrapper">
                <div class="title-wrapper">
                    <span class="vl"></span>
                    <h2>Rented cars:</h2>
                </div>
            </div>
            <div class="rented-car-details" *ngFor="let renting of rentedVehicles">
                <div class="img-wrapper">
                    <img class="rented-car-galery" src={{renting.vehicle.images[0]}}>
                </div>
                <div class="car-description">
                    <span class="row">
                        <span class="attribute-key"> Model</span>
                        <span class="attribute-value"> {{renting.vehicle.model}}</span>
                    </span><hr/>
                    <span class="row">
                        <span class="attribute-key"> Start address</span>
                        <span class="attribute-value"> {{renting.vehicle.garage.address.streetName}} {{renting.vehicle.garage.address.streetNumber}}</span>
                    </span><hr/>
                    <span class="row">
                        <span class="attribute-key"> Current duration</span>
                        <span class="attribute-value"> {{renting.durationInDays}} </span>
                    </span><hr/>
                    <span class="row">
                        <span class="attribute-key"> Current coast</span>
                        <span class="attribute-value"> {{renting.totalPrice}} </span>
                    </span><hr/>
                    <div class="btn-rent-wrapper"><button class="btn-rent" (click)="showFinishPopup($event, renting)">Finish rent</button></div>
                </div>
            </div>
        </div>
        <!-- Google map placeholder-->
        <div class="right-side">
            <img class="map" src="https://vehicle-images-levi9.s3.amazonaws.com/images/map.jpg">
        </div>
    </div>   
</div>
