<div class="home-page">
    <div class="cover-photo">
        <img class="img" src="../../assets/images/cover5.jpg" />
    </div>
    <navbar></navbar> 
    <div class="page">
        <h1>Renting History</h1>
        <div class="card">
          <table class=" table table-striped table-rentings">
          <thead>
            <tr>
              <th scope="col">Car</th>
              <th scope="col">Start Address</th>
              <th scope="col">End Address</th>
              <th scope="col">Days</th>
              <th scope="col">Total cost</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rent of rentingHistory">
              <td> {{rent.vehicleModel}} </td>
              <td> {{rent.startAddress.city}}, {{rent.startAddress.streetName}} {{rent.startAddress.streetNumber}}</td>
              <td> {{rent.startAddress.city}}, {{rent.endAddress.streetName}} {{rent.endAddress.streetNumber}} </td>
              <td> {{rent.durationInDays}} </td>
              <td> {{rent.totalPrice}}e</td>
            </tr>
          </tbody>
        </table>
        </div>  
</div>